

/* Global Styles */

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

header {
	background-color: #3399cc;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

nav a:hover {
	text-decoration: underline;
}




  
 


  
  